# debug, release, test
GO_MODE=test

DB_HOST=mongo
DB_PORT=27017
DB_NAME=microservice1-test-db
DB_USER=microservice1-test-db-user
DB_USER_PWD=changeit
DB_MIN_POOL_SIZE=1
DB_MAX_POOL_SIZE=2
DB_QUERY_TIMEOUT_SEC=60

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeit

NATS_URL=nats://nats:4222
NATS_SERVICE_NAME=microservice1
NATS_SERVICE_VERSION=1.0.0